div.floating_login_div {
	display: none;
	position: absolute;
   top:40%;
   left:35%;
   width:30%;
	padding: 4px;
	border: 2px solid;
	min-width: 300px;
	z-index:100;
	background-color: #222;
}

div.exitbutton {
	font-weight: bold;
	position: absolute;
   top:0px;
   right:2px;
	z-index:101;
}

div.fadeDiv {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 90;
	opacity:0.7;
	background-color: #222;
}

input {
	background-color: #223;
	border: #aaa 1px solid;
	color: #eee;
	font-weight: bold;
}

span.infobar {
	font-size:80%;
}

span.updated_text {
	font-size:70%;
}

span.disabled_page {
	color: #999999;
}

span.current_page {
	color: white;
}

span.contract_items {
	display:inline-block;
	text-overflow:ellipsis;
	overflow:hidden; 
	white-space:nowrap;
	width: 475px;
	color: #fff;
}

tr.contractitemsrow {
	border-top: #888 2px solid;
	border-bottom: #aaa 5px solid;
}

.contractitemsrow:hover span {
	color: #fff;
}

tr.couriertablerow {
	border-bottom: #aaa 6px solid;
}

.corp_entry_row {
	color: #00AAFF;
}

.corp_entry_row td,th{
	color: #00AAFF;
}

.corp_entry_row th[scope=row] {
	color: #00AAFF;
}

.contracts_wtt {
 border-width: 1px 1px 1px 1px;
 border-spacing: 2px;
 border-style: outset outset outset outset;
 border-collapse: collapse;
}

.contracts_wtt th, .contracts_wtt tr  {
	min-width:400px;
}
.contracts_wtt td {
	border-style: outset outset outset outset;
	min-width:400px;
	font-size: 80%;
}

table.contracts_table{
 border-width: 1px 1px 1px 1px;
 border-spacing: 2px;
 border-style: outset outset outset outset;
 border-collapse: collapse;
}
table.contracts_table tr.alt th, table.contracts_table tr.alt td
 {
     background-color: #001122;
     border-width: 1px 1px 1px 1px;
     padding: 2px 5px 2px 5px;
     border-style: outset outset outset outset;
     white-space:nowrap;
 }
table.contracts_table tr.redAlt th, table.contracts_table tr.redAlt td
{
    background-color: #810909;
    border-width: 1px 1px 1px 1px;
    padding: 2px 5px 2px 5px;
    border-style: outset outset outset outset;
    white-space:nowrap;
}

table.contracts_table tr.main th, table.contracts_table tr.main td
{
 background-color: #112233;
 border-width: 1px 1px 1px 1px;
	padding: 2px 5px 2px 5px;
	border-style: outset outset outset outset;
	white-space:nowrap; 
}
table.contracts_table tr.redMain th, table.contracts_table tr.redMain td
{
    background-color: #AB0202;
    border-width: 1px 1px 1px 1px;
    padding: 2px 5px 2px 5px;
    border-style: outset outset outset outset;
    white-space:nowrap;
}

table.contracts_table tr.hover:hover th[scope=row], table.contracts_table tr.hover:hover td
{
  background-color: #224466;
}

.pendingcontractstatus {
	font-weight: bold;
	color: #006600;
	text-align: center;
}

a.smalllink {
	font-size: 80%;
	font-weight: bold;
}

.failedcontractstatus {
	font-weight: bold;
	color: #990000;
	text-align: center;
}

.contractstatus {
	text-align: center;
}

table.skills_legends {
	font-size:83%; 
}

table.skills_table {
	font-size:95%; 
}

body,th,td,tr {
	color: #eee;
	font-family: helvetica, arial, sans-serif; /* : normal 90%,  */
 	font-size: 97%;
}

body {
	background-color: #000;
}


.canfly {
 position: relative; 
 cursor: default;
}

/*.canfly:hover {
	background-color: #000;
	color: #fff;
	border-bottom: none;
}*/
.contractbody {
 display:none;
}

.clickablerow {
	cursor: pointer;
}

.canfly span {   
 /* hidden desc span */
 position: absolute;
 background-color: white;
 visibility: hidden;
 width: 250px; 
}

.canfly:hover span { 
 /* ... style when hovered (shows up) */
 visibility: visible;
 color: #20291c;
 background-color: white;
 top: 10px;     /* dist from top */
 left: 4px;     /* dist from left side of parent - do not remove */
 padding: 2px; 
 z-index: 50;   /* causes it to pop over other objects */
}

/*****************
	TEXT STYLES
******************/

h2 {
	font: normal 1.5em helvetica, arial, sans-serif;
	margin: .25em 0;
}

h3 {
	font-size: 1.2em;
	font-weight: bold;
	margin: .5em 0;
	color: #fff;
}

p {
	margin: 1em 0;
}

a {
	color: #0c0;
	text-decoration: none;
	/*border-bottom: 1px solid #999;*/
}

a:hover {
	background-color: #090;
	color: #fff;
	border-bottom: 1px solid #090;
}

a.imglink, #medrect a, #linkscol a, #statscol a {
	border: 0px none;
}

a.imglink img, #medrect a img, #linkscol a img, #statscol a img {
	border: 0px none;
}

img {
 border: 0px none;
}

a:visited {
	color: #070;
}

h2 {
	border-bottom: 1px dotted #ccc;
	font: 95% "Times New Roman", Times, serif;
	letter-spacing: 0.2em;
	margin: 15px 0 2px 0;
	padding-bottom: 2px;
}

h3 {
	border-bottom: 1px dotted #eee;
	font-family: "Times New Roman", Times, serif;
	margin-top: 0;
}

p, li {
	font: 90%/175% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	letter-spacing: -1px;
}


table.fancy th {
	padding: 1px 1px 1px 1px;
}
table.fancy td {
	padding: 2px 4px 2px 4px;
 font-size:95%;
}

table.fancy
{
 border-width: 1px 1px 1px 1px;
 border-spacing: 2px;
 border-style: outset outset outset outset;
 border-collapse: collapse;
}

table.fancy2
{
 border-width: 1px 1px 1px 1px;
 border-spacing: 2px;
 border-style: outset outset outset outset;
 border-collapse: collapse;
}

table.fittingskills th {
	padding: 1px 1px 1px 1px;
}
table.fittingskills td {
	padding: 2px 4px 2px 4px;
	border-style: outset outset outset outset;
 border-width: 1px 1px 1px 1px;
 font-size:95%;
}

table.fittingskills
{
 border-width: 1px 1px 1px 1px;
 border-spacing: 2px;
 border-style: outset outset outset outset;
 border-collapse: collapse;
}

table.fancy tr.alt th, table.fancy tr.alt td
 {
     background-color: #001122;
     border-width: 1px 1px 1px 1px;
     padding: 2px 5px 2px 5px;
     border-style: outset outset outset outset;
 }

table.fancy tr.main th, table.fancy tr.main td
{
    background-color: #112233;
    border-width: 1px 1px 1px 1px;
    padding: 2px 5px 2px 5px;
    border-style: outset outset outset outset;
}
table.fancy tr.redAlt th, table.fancy tr.redAlt td
{
    background-color:  #810909;
    border-width: 1px 1px 1px 1px;
    padding: 2px 5px 2px 5px;
    border-style: outset outset outset outset;
}

table.fancy tr.redMain th, table.fancy tr.redMain td
{
    background-color: #AB0202;
    border-width: 1px 1px 1px 1px;
    padding: 2px 5px 2px 5px;
    border-style: outset outset outset outset;
}


table.fancy tr:hover th[scope=row], table.fancy tr:hover td
{
  background-color: #224466;
}
.corpHistoryTable
{
	overflow-y: auto;
	overflow-x: hidden;
	height: 200px;
}
.corpHistoryTable table tr td
{
	color: green !important;
}
.corpHistoryTable table tr.red td
{
	color: darkred !important;
}